<h1 class='title'><strong>Order Review</strong></h1>
<br>
<div class='tables_container'>
  <div class='item_table'>
    <table class='table is-striped is-hoverable'>
      <thead>
        <th>Name</th>
        <th>Size</th>
        <th>Detail</th>
        <th>Dimensions</th>
        <th>Price</th>
      </thead>
      <tfoot>
      <tr>
        <td><strong>Total</strong></td>
        <td></td><td></td><td></td>
        <td><strong>$<%= @total.round(2) %></strong></td>
      </tr>
      </tfoot>
      <tbody>
        <% @cart.each do |piece| %>
          <tr>
            <td><%= piece.name %></td>
            <td><%= piece.size.description %></td>
            <td><%= piece.detail.description %></td>
            <td><%= piece.dimensions %></td>
            <td>$<%= piece.size.price + piece.detail.price %></td>
          </tr>
        <% end %>
        <tr>
          <td class='subtotal'>Subtotal</td>
          <td></td><td></td><td></td>
          <td class='subtotal'>$<%= @subtotal %></td>
        </tr>
        <tr>
          <td>GST</td>
          <td></td><td></td><td></td>
          <td>$<%= (@gst * @subtotal).round(2) %>  <small><small>(<%= (@gst * 100).round(2) %>%)</small></small></td>
        </tr>
        <tr>
          <td>PST</td>
          <td></td><td></td><td></td>
          <td>$<%= (@pst * @subtotal).round(2) %>  <small><small>(<%= (@pst * 100).round(2) %>%)</small></small></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= button_to 'Confirm Purchase', order_create_path, method: :post,
  params: { pieces: @id_array, total: @total.round(2), tax: @hst * 100 }, class: 'button is-link' %><br>
<%= link_to 'Back to shopping', root_path %>
