<% if current_user && current_user.admin %>
  <%= link_to 'Add Piece', new_piece_path %><br><br>
<% end %>
<div class="columns is-multiline">
  <% @pieces.each do |piece| %>
  <div class="column is-half">
    <div class="card">
      <div class="card-content">
        <p class="title"><%=  link_to piece.name, piece %></p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <%= piece.size.description %>
        </p>
        <p class="card-footer-item">
          <%= piece.detail.description %>
        </p>
      </footer>
      <footer class="card-footer">
      <p class="card-footer-item">
        $<%= piece.size.price + piece.detail.price %>
      </p>
      </footer>
    </div>
    <% if @cart.include?(piece) %>
      <p><%= button_to 'remove from cart', remove_from_cart_path(piece), method: :delete %></p>
    <% else %>
      <p><%= link_to 'add to cart', add_to_cart_path(piece.id), method: :post %></p>
    <% end %>
    <% if current_user && current_user.admin %>
      <%= link_to 'Edit', edit_piece_path(piece) %>
      <%= link_to 'Destroy', piece, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
  <% end %>
</div>
<div class='pagination'>
  <%= paginate @pieces %>
</div>
