<div class="columns is-multiline">
  <% @pieces.each do |piece| %>
  <div class="column is-half">
    <div class="card">
      <div class="card-content">
        <p class="title"><%=  link_to piece.name, piece %></p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <%= piece.size.description %>
        </p>
        <p class="card-footer-item">
          <%= piece.detail.description %>
        </p>
      </footer>
      <footer class="card-footer">
      <p class="card-footer-item">
        $<%= piece.size.price + piece.detail.price %>
      </p>
      </footer>
    </div>
    <% if @cart.include?(piece) %>
      <p>Product is in your cart.</p>
    <% else %>
      <p><%= link_to 'add to cart', add_to_cart_path(piece.id), method: :post %></p>
    <% end %>
  </div>
  <% end %>
</div>
<div class='pagination'>
  <%= paginate @pieces %>
</div>
