<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece.name %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @piece.size.price + @piece.detail.price %>
</p>

<p>
  <strong>Sizeid:</strong>
  <%= @piece.size.description %>
</p>

<p>
  <strong>Detailid:</strong>
  <%= @piece.detail.description %>
</p>

<!-- <p>
  <strong>Image:</strong>
  <%= @piece.image %>
</p> -->

<p>
  <strong>Dimensions:</strong>
  <%= @piece.dimensions %>
</p>

<br>
<%= link_to 'Back', root_path %>
