<p>
  <strong>Products:</strong><br>
  <% @order.pieces.each do |piece| %>
    <%= piece.name %>
    <p>$<%= piece.size.price + piece.detail.price %><p> <br>
  <% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.email %>
</p>

<p>
  <strong>Tax:</strong>
  $<%= @order.tax %>
</p>

<p>
  <strong>Total:</strong>
  $<%= @order.amount %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
