<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://kit.fontawesome.com/e226f91dd6.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <div class="box" id="bigBox">
    <section class="section">
      <div class="container">
      <header>
        <h1 class="title is-1"><%= link_to 'Bear and Coyote Designs', root_path %></h1>
        <% if current_user %>
        <%= link_to current_user.email, edit_user_registration_path %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path %>
          <%= link_to 'Sign up', new_user_registration_path %>
        <% end %>
        <%= link_to 'Orders',  orders_path%>
        <nav class="navbar is-light" id="navBar" aria-label="main navigation">
          <div class="navbar-start">
            <a class="navbar-item" href='/'>
              <strong>Home</strong>
            </a>
            <a class="navbar-item" href='/home/about'>
              <strong>About</strong>
            </a>
            <div class='navbar-item'>
              <%= form_tag('/', method: :get) do %>
              <div class='navbar-item'>
                <%= text_field_tag :search, params[:search], class: 'input is-rounded', placeholder: 'search' %>
                <div class='select is-rounded'>
                  <%= select_tag :size,
                    options_from_collection_for_select(Size.all, 'id', 'description'),
                    include_blank: true,
                    class: 'select' %>
                </div>
                <%= submit_tag ('Search'), class: 'button is-link is-rounded' %>
              </div>
              <% end %>
            </div>
          </div>
          <div class='navbar-end'>
            <details>
              <summary>
                <li>
                  <a  id="cart">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                </li>
              </summary>
              <% if !@cart || @cart.empty? %>
                <p>Cart is empty.</p>
              <% elsif @cart %>
                <ul>
                <li><%= link_to 'Checkout', checkout_invoice_path, method: :get %></li>
                  <% @cart.each do |piece| %>
                    <li><%= piece.name %> <%= link_to 'remove', remove_from_cart_path(piece), method: :delete %></li>
                  <% end %>
                </ul>
              <% end %>
            </details>
          </div>
        </nav>
        <br>
      </header>
      <%= render 'layouts/alerts' %>
      <%= yield %>
      </div>
    </section>
  </div>
</body>
</html>
