<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>

  <body>
  <div class="box" id="bigBox">
    <section class="section">
      <div class="container">
      <header>
        <h1 class="title is-1"><%= link_to 'Bear and Coyote Designs', root_path %></h1>
        <%# <h2 class="subtitle is-4">Bear and Coyote Designs</h2> %>

        <nav class="navbar is-light" id="navBar" aria-label="main navigation">
          <div class="navbar-start">
            <a class="navbar-item" href='/'>
              <strong>Home</strong>
            </a>
            <a class="navbar-item" href='/home/about'>
              <strong>About</strong>
            </a>
          </div>
          <div class='navbar-end'>
            <div class='navbar-item'>
              <%= form_tag('/', method: :get) do %>
              <div class='navbar-item'>
                <%= text_field_tag :search, params[:search], class: 'input is-rounded' %>
                <%= select_tag :search, ['Hot', 'Cold'], params[:size], class: 'select is-rounded' %>
                <%= submit_tag ('Search'), class: 'button is-link is-rounded' %>
              </div>
              <% end %>
            </div>
          </div>
        </nav>
        <br>
      </header>
      <%= yield %>
      <%= paginate @pieces %>
      </div>
    </section>
  </div>
</body>
</html>
